<form class="form-group" [formGroup]="form">
    <fieldset>
        <legend>Login</legend>
        <div class="form-field">
            <label>Email:</label>
            <input class="form-control" name="email" formControlName="email">
        </div>
        <div class="form-field">
            <label>Password:</label>
            <input class="form-control" name="password" formControlName="password" type="password">
        </div>
    </fieldset>
    <div class="form-buttons">
        <button class="btn btn-primary" (click)="login()">Login</button>
    </div>
</form>