<div class="container-sm">
    <div class="row">
        <div class="col">
            <a routerLink="/"><h1>TopQuizz</h1></a>
        </div>
        <div class="col text-right">
            <button class="btn btn-light" (click)="reset()"><i class="bi bi-arrow-counterclockwise"></i></button>
            <button *ngIf="authService.isLoggedIn()" class="btn btn-light" (click)="logout()"><i class="bi bi-door-open"></i></button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <h2>TO DO</h2>
            <ul>
                <li class="striked">Results persistence through local storage</li>
                <li class="striked">Local storage reset</li>
                <li class="striked">Auth JWT</li>
                <li>e2e</li>
                <li>Open API contract</li>
                <li>node.js backend + Sequelize + Postgre</li>
                <li>Removable mock to full backend communication</li>
                <li>Docker containers</li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <router-outlet *ngIf="authService.isLoggedIn()"></router-outlet>
            <login *ngIf="authService.isLoggedOut()"></login>
        </div>
    </div>
</div>